%h1
  Hash Tag Battle

= form_for :battle, :url => battles_path do |f|
  = f.label :brand_1_hashtag
  = f.text_field :brand_1_hashtag
  = f.label :brand_2_hashtag
  = f.text_field :brand_2_hashtag
  = f.submit "Begin Battle", :class => "btn btn-primary"

%br
